<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text="Sign in" color="medium" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="dark">Forgot Password?</ion-text>
      </h1>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="primary">Reset your password.</ion-text>

      </p>
    </div>

    <form class="form-default" [formGroup]="reset_form">
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="medium" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" size="large" color="primary" class="ion-margin-top" routerLink="/login">
        Reset password
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy;{{current_year}} App-libros by jmmora</small>
      </ion-text>
    </div>

  </div>

</ion-content>
