<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header collapse="condense">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-form [formGroup]="formperfil"  *ngIf="userLogat">  
    <div class="preview">
      <ion-avatar (click)="changeImage()">
        <img *ngIf="userLogat?.imageUrl; else placeholder_avatar;"  [src]="userLogat.imageUrl"  />
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Select avatar</p>
          </div>
        </ng-template>
      </ion-avatar>
    </div>  
  
    <ion-title>Datos del perfil</ion-title>
    
    <ion-item color="light" class="animate__animated animate__fadeInUp" [disabled]="true">
      <ion-label position="floating">
        <ion-icon name="mail" item-start></ion-icon>
        Email
      </ion-label>
      <ion-input color="secondary" type="email" autocomplete="off" formControlName="email" placeholder="email"></ion-input>
    </ion-item>
    
    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Display Name
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="nom" placeholder="Tu nombre"></ion-input>
    </ion-item>
    
    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Nombre
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="displayname" placeholder="Tu nombre a mostrar"></ion-input>
    </ion-item>

    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Apellidos
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="cognom" placeholder="Apellidos"></ion-input>
    </ion-item>
    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Telefono
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="phone" placeholder="Telefono"></ion-input>
    </ion-item>  
    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Calle
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="calle" placeholder="Calle/avenida/..."></ion-input>
    </ion-item>
     
  <ion-item> 
      <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Numero
        </ion-label>
        <ion-input color="secondary" type="number" autocomplete="off" formControlName="numero" placeholder="Numero"></ion-input>
      </ion-item>

      <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Piso
        </ion-label>
        <ion-input color="secondary" type="number" autocomplete="off" formControlName="piso" placeholder="Piso"></ion-input>
      </ion-item>
      
      <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Puerta
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="puerta" placeholder="Puerta"></ion-input>
      </ion-item>  
    </ion-item> 
     
    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Ciudad
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="ciudad" placeholder="Ciudad"></ion-input>
    </ion-item>

    <ion-item color="light" class="animate__animated animate__fadeInUp">
      <ion-label position="floating">
        <ion-icon name="person-outline" item-start></ion-icon>
        Pais
      </ion-label>
      <ion-input color="secondary" type="text" autocomplete="off" formControlName="pais" placeholder="Pais"></ion-input>
    </ion-item> 
    <ion-item disabled="true" class="ion-hide">
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="imageUrl" type="string" required value="{{userLogat.imageUrl}}">
      </ion-input>
    </ion-item>
    <ion-item disabled="true" class="ion-hide">
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="tokenPush" type="string" required value="{{userLogat.tokenPush}}">
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="button" [disabled]="!formperfil.dirty" (click)="actualizaPerfil()">Actualizar perfil</ion-button>
    <ion-button expand="full" type="button" (click)="returnHome()">Volver a homer</ion-button>

  </ion-form>
  
  <app-mapa [markersPositions]="markersPositions">
   
  </app-mapa>
 
  <ion-list>
    <ion-list-header>
      <ion-title><h2>Listado de mis libros</h2></ion-title>
    </ion-list-header>
    <ion-item *ngFor="let libro of misLibros$|async">

      <ion-card>
        <ion-img alt="Foto libro" src="{{libro.imageUrl}}" />
        <ion-card-header>
          <ion-card-title>{{libro.titulo}}</ion-card-title>
          <ion-card-subtitle> {{libro.categoria}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{libro.valoracion}} - {{libro.descripcion}}
          <p>Precio: {{libro.precio}}<ion-icon name="coin"></ion-icon> </p>
          <ion-button (click)="openModal(libro)"><ion-icon name="create-outline"></ion-icon></ion-button>
          <ion-button (click)='deleteLibro(libro)'><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
         
    
    </ion-item>
  </ion-list>

  <ion-title> Listado de libros vendidos</ion-title>

  <ion-card *ngFor="let libroVend of librosVendidos$|async">
    <ion-card-header>
        <ion-card-title >{{libroVend.titulo}}</ion-card-title>
        <ion-card-subtitle>{{libroVend.categoria}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{libroVend.valoracion}} - {{libroVend.descripcion}}
      <p>Precio: {{libroVend.precio}}<ion-icon name="coin"></ion-icon> </p>
      
    </ion-card-content>
  </ion-card>

  <ion-title> Listado de libros comprados</ion-title>

<ion-card *ngFor="let libroComp of librosComprados">
  <ion-card-header>
      <ion-card-title >{{libroComp.titulo}}</ion-card-title>
      <ion-card-subtitle>{{libroComp.categoria}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{libroComp.valoracion}} - {{libroComp.descripcion}}
    <p>Precio: {{libroComp.precio}}<ion-icon name="coin"></ion-icon> </p>
    
  </ion-card-content>
</ion-card>


  <ion-list class="list-custom" lines="full" (click)="signOut()">
    <ion-item color="primary" button detail=false>
      <ion-icon slot="start" color="light" name="log-out"></ion-icon>
      <ion-label color="light">
        <h3>Eliminar cuenta</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


