ion-avatar {
    width: 128px;
    height: 128px;
  }
  
  .preview {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .fallback {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #bfbfbf;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  capacitor-google-map {
    display: inline-block;
    width: 95%;
    height: 250px;
    justify-content: center;
  }

  #my-map {
    display: inline-block;
    width: 95%;
    height: 350px;
    justify-content: center;
  }


  .aceptar{
    position: fixed;
    top: 55px;
    right: 5px;
    background-color: #8090eb;
}