<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary" text="Sign in" routerLink="/signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="dark">Sign Up</ion-text>
      </h1>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Crea tu cuenta.</ion-text>
      </p>
    </div>


    <form class="form-default" [formGroup]="credentials" (submit)="signUp()">
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Display Name
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="displayname" placeholder="Tu nombre para mostrar"></ion-input>
      </ion-item>
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" autocomplete="off" formControlName="email" placeholder="Your email"></ion-input>
      </ion-item>
      
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed-outline"></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" formControlName="password" type="password" placeholder="Your password"></ion-input>
      </ion-item>

       <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed-outline"></ion-icon>
          Password repeat
        </ion-label>
        <ion-input color="secondary" formControlName="password_repeat" type="password" placeholder="Password repeat"></ion-input>
      </ion-item> 

      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Nombre
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="nom" placeholder="Tu nombre"></ion-input>
      </ion-item>

      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Apellidos
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="cognom" placeholder="Apellidos"></ion-input>
      </ion-item>
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Telefono
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="phone" placeholder="Telefono"></ion-input>
      </ion-item>  
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Calle
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="calle" placeholder="Calle/avenida/..."></ion-input>
      </ion-item>
       
    <ion-item> 
        <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
          <ion-label position="floating">
            <ion-icon name="person-outline" item-start></ion-icon>
            Numero
          </ion-label>
          <ion-input color="secondary" type="number" autocomplete="off" formControlName="numero" placeholder="Numero"></ion-input>
        </ion-item>

        <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
          <ion-label position="floating">
            <ion-icon name="person-outline" item-start></ion-icon>
            Piso
          </ion-label>
          <ion-input color="secondary" type="number" autocomplete="off" formControlName="piso" placeholder="Piso"></ion-input>
        </ion-item>
        
        <ion-item color="light" class="animate__animated animate__fadeInUp" style="width: 150px;">
          <ion-label position="floating">
            <ion-icon name="person-outline" item-start></ion-icon>
            Puerta
          </ion-label>
          <ion-input color="secondary" type="text" autocomplete="off" formControlName="puerta" placeholder="Puerta"></ion-input>
        </ion-item>  
      </ion-item> 
       
      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Ciudad
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="ciudad" placeholder="Ciudad"></ion-input>
      </ion-item>

      <ion-item color="light" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person-outline" item-start></ion-icon>
          Pais
        </ion-label>
        <ion-input color="secondary" type="text" autocomplete="off" formControlName="pais" placeholder="Pais"></ion-input>
      </ion-item>  
    
      <ion-button class="ion-margin-top" type="submit" expand="block" size="large" color="secondary">
        Sign up free
      </ion-button>
    </form>
    <app-mapa [markersPositions]="markersPositions"></app-mapa>
    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy;{{current_year}} Firmino.dev</small>
      </ion-text>
    </div>

  </div>

</ion-content>
