:host {
  body {
    background-color: var(--ion-color-light);
  }

  ion-content {
      --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-medium));
  }

  ion-item {
    --border-radius: 8px;
    margin-bottom: 8px;
  }

  .logo-container {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 800;
    }

    p {
      margin-bottom: 42px;
    }
  }
}
.miubicacion{
  position: fixed;
  
  background: yellow;
  background-color: #8090eb;
  top: 55px;
  right: 10px;
}